/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,22,41,1) 35%, rgba(246,246,246,1) 100%);
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 20px;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: rgb(40, 37, 65);
  }
  
  /* Basic CSS for the form elements */
  body {
    font-family: Arial, sans-serif;
    background-image: url("images/nyc.jpg");
    /* margin: 20px; */
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 50px;
    color:white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(40, 37, 65);
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Basic CSS for the report section */
  h2 {
    margin-top: 30px;
  }
  
  #report,#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
#result{
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
  #result img{
    width: 200px;
    height: 100px;
  }
  
.container div {
    display: inline-block
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }

  .card-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }

  .card-holder {
    width: 280px;
    height: 80px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
  }